<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= book.stock %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= book.store.name %>
  </p>
</div>
